<p-calendar [(ngModel)]="value"></p-calendar>
<p-checkbox name="groupname" value="val1" [(ngModel)]="selectedValues"></p-checkbox>
<p-checkbox name="groupname" value="val2" [(ngModel)]="selectedValues"></p-checkbox>
<p-carousel [value]="cars">
  <ng-template let-car pTemplate="item">
      Content to display
  </ng-template>
</p-carousel>

<h3>Advanced (Multiple, Checkbox and Filter)</h3>
<p-listbox [options]="cities" [(ngModel)]="selectedCities" multiple="multiple" checkbox="checkbox" filter="filter" optionLabel="name">
  <p-header>
    <i class="fa fa-car"></i>
    Cars
  </p-header>
</p-listbox>
<p>Selected Cities: <span *ngFor="let c of selectedCities" style="margin-right: 10px">{{c.name}}</span></p>

<input type="text" pInputText placeholder="Username" [(ngModel)]="userInput">
<p-button label="Click" (onClick)="handleClick($event)"></p-button>
